/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --clr-violet: hsl(257, 40%, 49%);
  --clr-magenta: hsl(300, 69%, 71%);

  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  height: 100vh;
  font-family: var(--ff-body);
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  width: 90rem;
  height: 50rem;
  background: url(./images/bg-desktop.svg) left top no-repeat var(--clr-violet);
}

.logo {
  height: 3.25rem;
  margin-top: 3.25rem;
  margin-left: 4.5rem;
}

main {
  margin: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0px greenyellow solid;
}

.main__text {
  border: 0px red solid;
  color: white;
  height: auto;
  margin: 2.5rem 2.5rem 0 3.75rem;
}

.main__text__header {
  font-size: 2.5rem;
  font-family: var(--ff-headings);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.main__text__description {
  color: inherit;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  margin-bottom: 1.5rem;
}

.main__text__button {
  background-color: white;
  display: block;
  width: 12.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 5rem;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: var(--clr-violet);
  font-family: var(--ff-headings);
  font-size: 1.25rem;
  font-weight: 400;
  -webkit-box-shadow: 0 0.4rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.4rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.main__text__button:hover {
  background-color: var(--clr-magenta);
  color: white;
}

footer {
  margin-bottom: 2.5rem;
  margin-left: 75.5rem;
  height: 2.5rem;
  width: 9.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -1.5rem;
}

footer a:hover {
  border-color: var(--clr-magenta);
  color: var(--clr-magenta);
  cursor: pointer;
}

a:focus {
  border: 2px solid var(--clr-magenta);
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  border: 0.0735rem white solid;
  border-radius: 5rem;
  padding: 0.35rem;
  text-align: center;
  color: white;
  font-size: 1.1875rem;
}

@media only screen and (max-width: 1100px) {
  .logo {
    height: 2rem;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
  }

  .container {
    width: 23.4375rem;
    height: auto;
    background: url(./images/bg-mobile.svg) left top no-repeat var(--clr-violet);
  }

  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 3rem 2.5rem;
    width: 17.5rem;
  }

  .main__image {
    width: 18.5rem;
    margin-bottom: 3.75rem;
  }

  .main__text {
    margin: 0;
    text-align: center;
  }

  .main__text__header {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .main__text__description {
    font-size: 1rem;
    width: 19rem;
  }

  .main__text__button {
    width: 12.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
    margin: auto;
    padding: 0.65rem;
  }

  footer {
    margin-bottom: 2.5rem;
    margin-left: 8.5rem;
    height: 1.75rem;
    width: 6.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4rem;
  }

  .icon {
    height: 1.75rem;
    width: 1.75rem;
    font-size: 0.83125rem;
    line-height: 1.25;
  }
}
