@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --clr-violet: hsl(257, 40%, 49%);
    --clr-magenta: hsl(300, 69%, 71%);

    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--ff-body);
    color: #FFFFFF;
}

main {
    background: url(./images/bg-mobile.svg) center no-repeat var(--clr-violet);
    width: 46.875rem;
}

.maintext__header {
    font-family: var(--ff-headings);
}